---
import { getLanguageFromRequest, getServerTranslation } from '~/i18n';
import { getBlogPermalink } from '~/utils/permalinks';
import { getRelatedPosts } from '~/utils/blog';
import type { Post } from '~/types';
import Grid from '~/components/blog/Grid.astro';
import Headline from '~/components/blog/Headline.astro';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const lang = getLanguageFromRequest(Astro.request);
const t = getServerTranslation(lang);

const relatedPosts = post.tags ? await getRelatedPosts(post, 4) : [];
---

{
  relatedPosts.length > 0 && (
    <section class="pt-0 lg:pt-0 md:pt-0">
      <Headline title={t('blog.relatedPosts')} linkText={t('blog.viewAllPosts')} linkUrl={getBlogPermalink()} />
      <Grid posts={relatedPosts} />
    </section>
  )
}
